#container {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  width: 100%;
  max-width: 480px;
  aspect-ratio: 1 / 1;
  border: 2px solid lightgray;
}

.square {
  background-color: rgb(18, 138, 168);
  box-sizing: border-box;
  border: 1px solid beige;
}

.square.active {
  background-color: salmon; 
}

button {
  background-color: rgb(184, 179, 179);
  color: rgb(241, 241, 210);
}