#container {
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  height: 320px;
  border: 2px solid lightgray;
}

.square {
  width: 20px;
  height: 20px;
  background-color: rgb(18, 138, 168);
  box-sizing: border-box;
  border: 1px solid beige;
}
 